
---
layout: archive
---

{{ content }}


<div class="business-intro">
  <h1>Om oss</h1>
  <p>Malegutta er en stolt leverandør av malerarbeid og håndverkertjenester for private husstander, bedrifter, borettslag og sameier i Oslo/Viken. Vi har et team av erfarne og dedikerte fagfolk som bistår deg og ditt behov. Alt fra valg av materialer, farger til gjennomføring av prosjektet. Vi sørger for at du får et strøkent og langvarig sluttresultat som står til dine forventinger.</p>
</div>

<section class="featured-projects">
  <h2>Oppdaterte produkter og metoder</h2>
  <p>Vi blir hele tiden oppdatert på nye produkter og arbeidsmetoder gjennom våre samarbeidspartnere og det resulterer ofte i mer kostnadseffektiv gjennomføring av oppdrag. Vi har fokus på miljøvennlig sortering og gjenvinning av avfall.</p>
  {% for post in site.posts limit:3 %}
    {% include business-archive-single.html type='grid' %}
  {% endfor %}
</section>

<section class="about-us">
  <h2>Annet</h2>
  <p>...</p>
</section>

{% include navigation.html %}
{% include paginator.html %}
